<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxd.www.exam.mapper.ExamMapper">

    <!-- String getExamNoByUserId(Integer userId); -->
    <select id="getExamNoByUserId" resultType="java.lang.String" parameterType="Integer">
        select te.`exam_no`
        from `t_exam` te
        left join `conn_exam_class` cec
        on te.`exam_id` = cec.`exam_id`
        left join `t_student` ts
        on cec.`class_id` = ts.`class_id`
        where ts.`user_id` = #{userId}
        and te.`status` in (0, 1, 2)
    </select>

    <!-- String getExamNoByAdminId(Integer adminId); -->
    <select id="getExamNoByAdminId" resultType="java.lang.String" parameterType="Integer">
        select `exam_no`
        from `t_exam` te
        left join `t_teacher` tt
        on te.`teacher_id` = tt.`teacher_id`
        where tt.`admin_id` = #{adminId}
        and te.`status` in (0, 1, 2)
    </select>


</mapper>